<%- include('partials/header.ejs') %>
    <%- include('partials/navbar.ejs') %>
        <!-- servicos -->
        <section class="container-contatos">
            <h1 class="text-center">Contate-nos</h1>

            <table class="table table-border table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Foto</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Ramal</th>
                    </tr>
                </thead>
                <tbody>
                    <% contatos.forEach(contato=> { %>
                        <tr>
                            <td>
                                <div class="avatar-container">
                                    <img src="<%= contato.foto %>" alt="Foto de <%= contatos.nome %>" class="avatar">
                                </div>
                            </td>>
                            <td class="tabela">
                                <%= contato.nome %>
                            </td>
                            <td class="tabela">
                                <%= contato.email %>
                            </td>
                            <td class="tabela">
                                <%= contato.ramal %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>

            <h3 class="text-center">Estamos disponíveis 24/7 para o esclarecer</h3>

            <article class="text-center">
                <img src="/img/icon_phone.png" alt="Telefone">
                <a href="tel:511338218888" class="contatos">+55 013 3821-8888</a>
                <small>Entre as 09:00h e as 19:00h</small>
            </article>

            <article class="text-center margin-top-40">
                <img src="/img/icon_email.png" alt="Email">
                <a href="mailto:inteligencia.artificial@gmail.com" class="contatos">inteligencia.artificial@gmail.com</a>
                <small>Respondemos a todos os emails no prazo de 12 horas.</small>
            </article>
        </section>

        <!-- ver servicos ou contactos -->
        <section class="container-servicos-contatos">
            <h1>Conheça os nossos serviços.</h1>
            <div class="botoes-servicos-contatos">
                <a href="/servicos" class="botao">Serviços</a>
            </div>
        </section>

        <%- include('partials/footer.ejs') %>