<%- include('partials/header.ejs') %>
    <%- include('partials/navbar.ejs') %>
        <section class="container-servicos">

            <h1 class="text-center">Os nossos serviços</h1>

            <table class="table table-border table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Foto</th>
                        <th>Projeto</th>
                    </tr>
                </thead>
                <tbody>
                    <% contatos.forEach(contato=> { %>
                        <tr>
                            <td>
                                <div class="avatar-container">
                                    <img src="<%= servicos.foto %>" alt="Foto de <%= servicos.projeto %>" class="avatar">
                                </div>
                            </td>>
                            <td class="tabela">
                                <%= contato.projeto %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>

            <article>
                <h3>Soluções inovadoras para a sua empresa</h3>
                <ul>
                    <li>Desenhamos novas soluções para aumento de produtividade</li>
                    <li>Aumentamos a performance dos colaboradores.</li>
                    <li>Incremento garantido de 20% nos lucros da empresa.</li>
                </ul>
            </article>

            <article>
                <h3>Projetamos o futuro do seu negócio</h3>
                <ol>
                    <li>Pensamos na melhor solução</li>
                    <li>Desenvolvemos o produto em parceria consigo</li>
                    <li>Aplicamos a solução na empresa.</li>
                    <li>Fazemos a monitorização do processo.</li>
                </ol>
            </article>

        </section>


        <!-- ver servicos ou contactos -->
        <section class="container-servicos-contactos">

            <h1>Obtenha mais informações.</h3>

                <div class="botoes-servicos-contactos">
                    <a href="contactos.html" class="botao">Contacte-nos</a>
                </div>

        </section>
        <%- include('partials/footer.ejs') %>