<%- include('partials/header.ejs') %>
  <%- include('partials/navbar.ejs') %>

    <section class="container-servicos">
      <h1 class="text-center">Os nossos serviços</h1>

      <table class="table table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th>Foto</th>
            <th>Projeto</th>
            <th>Versão</th>
          </tr>
        </thead>
        <tbody>
          <% servicos.forEach(servico=> { %>
            <tr>
              <td>
                <div class="avatar-container">
                  <img src="<%= servico.foto %>" alt="Foto de <%= servico.projeto %>" class="avatar">
                </div>
              </td>
              <td>
                <%= servico.projeto || 'Projeto não informado' %>
              </td>
              <td>
                <%= servico.versao || 'Versão não informada' %> 
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>

      <article>
        <h3>Soluções inovadoras para a sua empresa</h3>
        <ul>
          <li>Desenhamos novas soluções para aumento de produtividade</li>
          <li>Aumentamos a performance dos colaboradores.</li>
          <li>Incremento garantido de 20% nos lucros da empresa.</li>
        </ul>
      </article>

      <article>
        <h3>Projetamos o futuro do seu negócio</h3>
        <ol>
          <li>Pensamos na melhor solução</li>
          <li>Desenvolvemos o produto em parceria consigo</li>
          <li>Aplicamos a solução na empresa.</li>
          <li>Fazemos a monitorização do processo.</li>
        </ol>
      </article>
    </section>

    <section class="container-servicos-contatos">
      <h2>Obtenha mais informações.</h2>
      <div class="botoes-servicos-contatos">
        <a href="/contatos" class="botao">Contatos</a>
      </div>
    </section>

    <%- include('partials/footer.ejs') %>